.clr {
  clear: both;
}
h1 {
  color: #27a22d;
}
img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.num {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  padding: 2px 6px;
  color: #333;
  white-space: nowrap;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.row {
  overflow: hidden;
}
.full {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.two,
.one {
  float: left;
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media handheld {
  .content {
    width: 90% !important;
  }
  nav {
    width: 100% !important;
  }
  .two,
  .one {
    float: none;
    width: 100%;
  }
}
.pright {
  padding-right: 0;
}
.note {
  font-size: 14px;
}
.additional {
  margin-top: 40px;
  text-align: center;
}
.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #31cb38;
  padding: 10px 15px;
  box-shadow: 0 2px 0 #27a22d;
  -moz-box-shadow: 0 2px 0 #27a22d;
  -webkit-box-shadow: 0 2px 0 #27a22d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn:hover {
  color: #fff;
  background-color: #27a22d;
}
.slide {
  margin-top: 80px;
  width: 420px;
  height: 280px;
}
table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
}
table thead {
  background: #f9f9f9;
}
table .title {
  font-weight: bold;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
table .first {
  border-top: 0;
}
nav {
  width: 960px;
  overflow: hidden;
  padding: 0 15px;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
}
nav ul li {
  float: left;
  padding: 15px;
}
anav ul li:hover {
  text-decoration: underline;
}
nav .phone {
  float: right;
  font-weight: bold;
  color: #27a22d;
}
nav .phone img {
  width: 24px;
  height: auto;
  margin-bottom: -7px;
  margin-right: 7px;
}
body {
  background: #f1f1f1;
}
header {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
header .logo {
  width: 500px;
  margin: 30px 0;
}
.content {
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 10px #f1f1f1;
  -moz-box-shadow: 0 0 10px #f1f1f1;
  -webkit-box-shadow: 0 0 10px #f1f1f1;
}
.document {
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  padding: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.document table {
  border: 0;
}
.document table td {
  border: 0;
}
.document table td:first-child {
  width: 20%;
}
.document table .item ul li {
  margin-bottom: 10px;
}
.document table .name {
  font-weight: bold;
  display: block;
}
.document table .description {
  color: #27a22d;
  font-size: 12px;
}
.services ol {
  padding-left: 20px;
}
.prices {
  padding: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.contacts,
.customers,
.copy {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#copyright {
  margin-top: 0;
  background: black;
}
#copyright p {
  color: #ffffff;
  margin: 0;
  padding: 1em 0;
}
.customers {
  padding-bottom: 20px;
}
.customers img {
  width: auto;
  height: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
}
footer {
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0 0 10px #f1f1f1;
  -moz-box-shadow: 0 0 10px #f1f1f1;
  -webkit-box-shadow: 0 0 10px #f1f1f1;
}
footer .copy {
  background: black;
  font-size: 0.8em;
}
